header {
	color: #777;
	margin: 10px;
}

header .logo {
	width: 400px;
	margin: 10px;
}

header .title {
	display: inline-block;
	font-size: 24pt;
	vertical-align: middle;
	margin: 10px;
	margin-left: 20px;
}

header form {
	display: inline-block;
	margin: 0;
	padding: 0;
}

header nav .btn {
	margin: 10px;
} 

header .clock-status {
	position: absolute;
	bottom: 0px;
	right: 10px;
	color: #F65555;
	font-size: 14pt;
}

.main {
	margin: 30px;
	margin-top: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.btn-xs img {
	width: 25px;
}

.summary .table td {
	text-align: right;
}

.edit-controls button {
	opacity: 0.1;
}

tr:hover .edit-controls button {
	opacity: 1;
}

.modal-success {
	display: none;
}

.modal-body p {
	padding: 10px;
	font-size: 16pt;
	text-align: center;
}

.modal-close, .modal-loading {
	display: none;
}

.date-field-align-fix {
	padding-left: 8px;
    padding-right: 50px;
}

img.ajax-loader {

    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
